<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChordArray</key>
	<array>
		<string>B1</string>
		<string>B2</string>
		<string>B3</string>
		<string>B4</string>
		<string>C1</string>
		<string>C2</string>
		<string>C3</string>
		<string>C4</string>
		<string>E1</string>
		<string>E2</string>
		<string>E3</string>
		<string>E4</string>
	</array>
	<key>IconArray</key>
	<array>
		<string>icon_face</string>
		<string>icon_hair</string>
		<string>icon_fronthair</string>
		<string>icon_behindhair</string>
		<string>icon_eye</string>
		<string>icon_eyeball</string>
		<string>icon_brow</string>
		<string>icon_nose</string>
		<string>icon_mouth</string>
		<string>icon_beard</string>
		<string>icon_whisker</string>
		<string>icon_ear</string>
		<string>icon_package</string>
		<string>icon_glass</string>
		<string>icon_cap</string>
		<string>icon_neck</string>
		<string>icon_background</string>
		<string>icon_font</string>
	</array>
	<key>soundArray</key>
	<dict>
		<key>back</key>
		<string>sound_back</string>
		<key>tap</key>
		<string>sound_tap</string>
		<key>shake</key>
		<string>sound_shake</string>
		<key>color</key>
		<string>sound_color</string>
		<key>neck</key>
		<string>sound_neck</string>
		<key>ear</key>
		<string>sound_ear</string>
		<key>eye</key>
		<string>sound_eye</string>
		<key>brow</key>
		<string>sound_brow</string>
		<key>hair</key>
		<string>sound_hair</string>
		<key>mouth</key>
		<string>sound_mouth</string>
		<key>nose</key>
		<string>sound_nose</string>
		<key>switch</key>
		<string>sound_switch</string>
		<key>save</key>
		<string>sound_save</string>
	</dict>
</dict>
</plist>
